%section#app
  .separator
  .container
    .left
      =image_tag "Modus_app-iphone.png", class:"bttrlazyloading"
    .right
      .title
        %h2
          MODUS APP
      %p
        Con la nuova app digitalizzi la tua Vip Card in pochi secondi e ricevi sul tuo smartphone sconti e offerte esclusive!<br /><br />
        PRENDILE AL VOLO!<br /><br />
        SCARICA GRATIS LA APP MODUS da<br />
      %a{href:"#"}
        =image_tag "appstore.png", class:"bttrlazyloading"
      %a{href:"https://play.google.com/store/apps/details?id=it.axant.modus"}
        =image_tag "googleplay.png", class: "google", class:"bttrlazyloading"
  .clearfix
  #parallax-one.parallax{style: "background-image:url(images/flowers.jpg);"}