%header
  .container
  
    / end of logo
    %nav#menu
      %ul.nav.navbar-nav
        %li
          %a{href: "#subheader"} Home
        %li
          %a{href: "#app"} App
        %li
          %a{href:"#work"} Marchi
        %li
          %a{href: "#team"} Servizi
        %li
          %a{href: "#club"} Modus Club
        %li
          %a{href: "#about"} Profumerie
        %li
          %a{href: "#story"} Chi siamo
    / end of navigation
  / end of container in header
/ end of header