%section#story
  .container
    .left
      %h2.big
        LA NOSTRA<br />
        STORIA
      .title
        %h2
          La bellezza, dal 1958
    
      
      %p
        Era il 1958, quando nasceva la profumeria “Madala” a Saluzzo, in provincia di Cuneo, dal nome del suo fondatore. Nel 1970, la famiglia Vallesi comincio’ a valorizzare il mondo della profumeria con uno stile del tutto personale. Nasce cosi’, nel 1995, il marchio “Modus”. In breve quel nome diventa un sinonimo di bellezza. E numerose storiche profumerie come Deca di Alba, Veglio e Bianco di Aosta, Zenith di Alessandria e Zucca di Acqui Terme, diventano “Modus”. Con altre acquisizioni il  marchio “Modus” diventa una delle piu’ importanti catene di profumerie.
      =image_tag "servizi/Comp_13303284.jpg", class:"bttrlazyloading"
    .right
      %h3
        Area fragranze
      %p
        Non c’e’ niente di piu’ personale di un profumo. Modus lo sa: e puo’ “vestire” la tua pelle con le fragranze piu’ intense o delicate, dal tono classico o con la piu’ moderna sintesi. Ogni profumo, passa da Modus, prima di arrivare sulla tua pelle.
      %h3
        Area cosmesi
      %p
        La tua pelle e’ il piu’ bel vestito che indossi: per questo deve essere trattata al meglio. Il trattamento viso e corpo da Modus, sono una delicata carezza. E, per dare ancora piu’ valore alla tua pelle, Modus ti propone appuntamenti personalizzati per provare prodotti che siano in linea con la tua pelle.
      %h3
        Area make up
      %p
        Come dare piu’ luce al tuo viso? Prova il make up di Modus. Non solo coprire, ma scoprire il tuo vero carattere: questo e’ il vero trucco per ogni donna. Vieni da Modus: vivrai lo stupore del tuo viso con i prodotti che ti consigliano i make up artist.
      %h3
        Area professionale capelli
      %p
        Il punto d’incontro tra le richieste di ogni acconciatore ed estetista: Modus. Per il lavoro della bellezza, per ogni giorno, scegli Modus. Prodotti assortiti nella gamma di alta qualita’.
      %h3
        Area convenienza
      %p
        Modus price is modus look. La bellezza, da oggi, ha un costo che ti stupisce. Basic non e’ solo prezzo interessante, perche’ Modus cerca e trova sul mercato le giuste opportunita’. La bellezza ha un nuovo prezzo: quello che vuoi!
    .clear
