.layout
  %header
    .container

      / end of logo
      %nav
        %ul
          %li
            %a{href: "/new/"} Home
          %li.active
            %a{href: "/new/privacypolicy.html"} Privacy Policy
          %li
            %a{href: "/new/termsandconditions.html"} Terms and Conditions

      / end of navigation
    / end of container in header
  / end of header
  .content
    %section#privacy
      .container
        %h1
          Privacy Policy of VALLESI S.p.A. Socio Unico
        %p
          <b>Vallesi S.p.A. Socio Unico ("VALLESI")</b> respects the privacy rights of our users and is committed to protecting the information collected through its online products, online services and websites including, but not limited to VALLESI’s shopping app (also “MODUS App” and together "Services"). VALLESI has adopted this privacy policy ("Privacy Policy") to explain how VALLESI collects, stores, and uses the information collected in connection with VALLESI’s Services – and specifically with MODUS App. Should you have any questions relating to this Privacy Policy, please contact us at privacy@vallesi.eu or alternatively at Vallesi S.p.A. Socio Unico, Via Circonvallazione Giolitti, 23 – 12030 Torre San Giorgio (CN).<br />
          BY INSTALLING, USING, REGISTERING TO OR OTHERWISE ACCESSING THE SERVICES, YOU AGREE TO THIS PRIVACY POLICY AND GIVE AN EXPLICIT AND INFORMED CONSENT TO THE PROCESSING OF YOUR PERSONAL DATA IN ACCORDANCE WITH THIS PRIVACY POLICY. IF YOU DO NOT AGREE TO THIS PRIVACY POLICY, PLEASE DO NOT INSTALL, USE, REGISTER TO OR OTHERWISE ACCESS THE SERVICES. VALLESI reserves the right to modify this Privacy Policy at reasonable times, so please review it frequently. If VALLESI makes material or significant changes to this Privacy Policy, VALLESI will post a notice on VALLESI’s website along with the updated Privacy Policy. Your continued use of Services will signify your acceptance of the changes to this Privacy Policy.
        %h2
          1. Non-personal data
        %p
          For purposes of this Privacy Policy, "non-personal data" means information that does not directly identify you. Additionally, non-personal data means "aggregate" and "de-personalized" information, which is data VALLESI collects about the use of VALLESI Services, from which any personally identifiable data has been removed. VALLESI may use tools or third party analytical software to automatically collect and use certain non-personal data that does not directly enable VALLESI to identify you. The types of non-personal data VALLESI may collect and use include, but are not limited to: (i) device properties, including, but not limited to unique device identifier or other device identifier ("UDID"); (ii) device software platform and firmware; (iii) mobile phone carrier; (iv) geographical data such as zip code, area code and location; (v) which data are used for loyalty card, usage of loyalty card (vi) other non-personal data as reasonably required by VALLESI to enhance the Services and other VALLESI products and services. <br />
          VALLESI may use and disclose to VALLESI’s partners and contractors the collected non-personal data for purposes of analyzing usage of the Services, advertisement serving, managing and providing the Services and to further develop the Services and other VALLESI services and products.<br />
          You recognize and agree that the analytics companies utilized by VALLESI may combine the information collected with other information they have independently collected from other services or products relating to your activities. These companies collect and use information under their own privacy policies.
        %h2 
          2. Personal Data
        %p
          For purposes of this Privacy Policy, "personal data" means personally identifiable information that specifically identifies you as an individual. Likely situations when you make personal data available to VALLESI include, but are not limited to: (i) registration for Services; (ii) accessing Services using a third party ID, such as social networking sites; (iii) subscribing to newsletters; (iv) using "tell a friend," "email this page," or other similar features; (v) requesting technical support; and (vii) otherwise through use of VALLESI Services where personal data is required for use and/or participation.<br /> 
          The types of personal data may vary depending on the type of activity you are engaged in. The personal data VALLESI may collect and process may include, but are not limited to your name, screen/nick name, VALLESI Services’ or third party service ID, e-mail address, phone number, photo or other image, birthdate, sex, address, proximity and location (only if directly identifiable to you, otherwise we treat location as non-personal data). VALLESI may use collected personal data for purposes of analyzing usage of the Services, providing customer and technical support, managing and providing Services (including managing advertisement serving) and to further develop the Services and other VALLESI services and products. VALLESI may combine non-personal data with personal data. Please note that certain features of the Services may be able to connect to your social networking sites to obtain additional information about you. In such cases, VALLESI may be able to collect certain information from your social networking profile when your social networking site permits it, and when you consent to allow your social networking site to make that information available to VALLESI. This information may include, but is not limited to, your name, profile picture, gender, user ID, email address, your country, your language, your time zone, the organizations and links on your profile page, the names and profile pictures of your social networking site "friends" and other information you have included in your social networking site profile. VALLESI may associate and/or combine as well as use information collected by VALLESI and/or obtained through such social networking sites in accordance with this Privacy Policy.
        %h2
          3. Disclosure and Transfer of Personal Data
        %p
          VALLESI collects and processes personal data on a voluntary basis and it is not in the business of selling your personal data to third parties. Personal data may, however, occasionally be disclosed in accordance with applicable legislation and this Privacy Policy. Additionally, VALLESI may disclose personal data to its parent companies and its subsidiaries in accordance with this Privacy Policy. VALLESI may disclose your personal data to third parties as required by law enforcement or other government officials in connection with an investigation of fraud, intellectual property infringements, or other activity that is illegal or may expose you or VALLESI to legal liability. VALLESI may also disclose your personal data to third parties when VALLESI has a reason to believe that a disclosure is necessary to address potential or actual injury or interference with VALLESI’s rights, property, operations, users or others who may be harmed or may suffer loss or damage, or VALLESI believes that such disclosure is necessary to protect VALLESI’s rights, combat fraud and/or comply with a judicial proceeding, court order, or legal process served on VALLESI.
        %h2
          4. Data Retention and Correctness
        %p
          VALLESI retains the data collected pursuant to this Privacy Policy for the period necessary to fulfill the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law. Thereafter if the collected data is no longer needed for purposes specified in this Privacy Policy, VALLESI deletes all aforementioned data in its possession. VALLESI does not verify the correctness of personal data. 
          Even if data is changed or deleted, VALLESI may still retain some of the data to resolve disputes, enforce VALLESI’s user agreements, and comply with technical and legal requirements and constraints related to the security, integrity and operation of Services.
        %h2
          5. Third Party Terms and Conditions
        %p
          Please note that your access to and use of the Services may be subject to certain third party terms and conditions and privacy policies, including but not limited to application stores, mobile software platforms and social networking services. You recognize and agree that VALLESI is not liable for any such third party terms and conditions and their use of your personal data. VALLESI may in its discretion make available links through advertisements or otherwise enable you to access third party products or services. Please note that, while using such products or services, you are using products or services developed and administered by people or companies not affiliated with or controlled by VALLESI. VALLESI is not responsible for the actions of those people or companies, the content of their products or services, the use of information you provide to them, or any products or services they may offer. The fact that VALLESI is linking to those products or services does not constitute our sponsorship of, or affiliation with, those people or companies.
        %h2
          6. Safeguards
        %p
          VALLESI follows generally accepted industry standards and maintains reasonable safeguards to attempt to ensure the security, integrity and privacy of the information in VALLESI’s possession. Only those persons with a need to process your personal data in connection with the fulfillment of their tasks in accordance with the purposes of this Privacy Policy and for the purposes of performing technical maintenance have access to your personal data in VALLESI’s possession. Personal data collected by VALLESI is stored in secure operating environments that are not available to the public. To prevent unauthorized on-line access to personal data, VALLESI maintains personal data behind a firewall-protected server. However, no system can be 100% secure and there is the possibility that despite VALLESI’s reasonable efforts, there could be unauthorized access to your personal data. By using the Services, you assume this risk.
        %h2
          7. Other
        %p
          VALLESI may store and/or transfer your personal data to its affiliates and partners in and outside of EU/EEA member states and the United States in accordance with mandatory legislation and this Privacy Policy. In addition, in the event of a merger, acquisition, reorganization, bankruptcy, or other similar event involving all or a portion of VALLESI, VALLESI’s customer information may be transferred to VALLESI’s successor or assign.
        %h2
          8. Further information
        %p
          VALLESI regularly reviews its compliance with this Privacy Policy. If VALLESI receives a formal written complaint from you, it is VALLESI’s policy to attempt to contact you directly to address any of your concerns. VALLESI will cooperate with the appropriate governmental authorities, including data protection authorities, to resolve any complaints regarding the collection, use, transfer or disclosure of personal data that cannot be amicably resolved between you and VALLESI.

/ Footer Section
%footer
  .container
    %p.info
      Vallesi S.p.A Socio Unico - Via Circonvallazione Giolitti, 23 - 12030 Torre San Giorgio (CN) - Italy - Phone +39 0172. 96176 - Fax +39 0172 96269
    /[IF IE]
      <script src="js/selectivizr-min.js"></script>
      
      <link href="http://externalcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
      <script src="js/respond.src.js"></script>